[submodule "benchmarks/competition/ALIGN"]
	path = benchmarks/competition/ALIGN
	url = https://github.com/ALIGN-analoglayout/ALIGN-public.git
[submodule "benchmarks/competition/MAGICAL-CIRCUITS"]
	path = benchmarks/competition/MAGICAL-CIRCUITS
	url = https://github.com/MAGICAL-eda/MAGICAL-CIRCUITS.git
